.venv
venv


__pycache__/
db/__pycache__
features/__pycache__
models/__pycache__
routes/__pycache__
instant_varification/__pycache__


features/faq_chat/ml_models/tokenizer.pkl
features/price_prediction/ml_models/model.joblib
features/faq_chat/ml_models/qa_model.pkl

requirement.txt
ini.txt
installation.txt