{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='rstyle.css') }}">
{% endblock head %}

{% block body %}
<div class="container">
 
  <div class="col file_upload text-center">
    <h1>Upload File for OCR</h1>
   <br/>
    <form class="form-group" action="/" method="post" enctype="multipart/form-data">
      <input class="form-control" type="file" name="file" accept=".jpg,.jpeg,.png,.pdf,.odt,.doc,.docx">
      <br><br>
      <input class=" btn btn-primary" type="submit" value="Upload File">
    </form>

  </div>
</div>


{% endblock body %}

  

