<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body >
    <h1>Sentiment Analysis</h1>
    <form method="POST">
        <label for="sentence">Sentence:</label>
        <input type="text" id="sentence" name="sentence" required>
        <button type="submit">Analyze</button>
    </form>
    {% if sentence and sentiment %}
        <h2>Sentence: {{ sentence }}</h2>
        <h2>Sentiment: {{ sentiment }}</h2>
    {% endif %}
</body>
</html>